<div class="members">
    <section class="member_header">
        <h1>Members</h1>
    </section>
    <section class="member_details">
        <div class="steering">
            <div class="title_header"><h3>Steering Team</h3></div>
            <div class="image_showcase-1">
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Akujobi Nne</h5>
                        <p>NAU</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Dr Basil Nwankwo</h5>
                        <p>COOUTH</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Oby Emelumadu</h5>
                        <p>NAU</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Joseph Ikechebelu</h5>
                        <p>NAU</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Charles Esimone</h5>
                        <p>NAU</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Greg Nwakoby</h5>
                        <p>COOU</p>
                    </div>
                </div>
                <div class="img_box">
                    <img src="assets/img/image.png" alt="">
                    <div class="text_box">
                        <h5>Prof Vic Neufeld</h5>
                        <p>UVic</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="institution">
            <div class="title_header"><h3>Institutions</h3></div>
            <div class="image_showcase-2">
                <img src="assets/img/badge-one.png" alt="">
                <img src="assets/img/badge-two.png" alt="">
            </div>
        </div>
        <div class="other_members">
            <div class="title_header"><h3>Other Members</h3></div>
            <div class="image_showcase-3">
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr. Ngozi Joe-Ikechebelu</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr. Angela Akanwa</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mr Amaechi Uyammadu</h4>
                    <p>CSS</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr. Luke Eme</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr. Emmanuel Azuike</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr George.U. Eleje</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Micheal Nworji</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Ify Ezeabasili</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Ezebialu Ifeanyi</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mr. Williams Ngene</h4>
                    <p>COOUTH</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Chinonye Okeke</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Anthony Nnedum</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mr Onyedika Edewor</h4>
                    <p>ICT</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Stan Onah</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Agwaniru Hephzibah</h4>
                    <p>CSS</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Pharm Njideka Ezenekwe</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Lady Theresa Nnaluo</h4>
                    <p>CSS</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Liliain Igweze</h4>
                    <p>NAUTH</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Christy Odimegwu</h4>
                    <p>CSS</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Barr Chinazor Umeobika</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Onyinye Chigozie Okolo</h4>
                    <p>ANHI</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Prof Anthony Ibe</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Uche Umeh</h4>
                    <p>COOU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Udodi Ikediuwa</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mr Daniel Ukwu</h4>
                    <p>DUF</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Helen Agu</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Ifeoma Onuzulike</h4>
                    <p>Min of Environment</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Mrs Onyinye Achugamonye</h4>
                    <p>Min of Environment</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr U.U. Onyeonoro</h4>
                    <p>FMC</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Chidiebere Osuorah</h4>
                    <p>Univ of Mannitoba</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Prof Dennis Aribodor</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Nneka Okafor</h4>
                    <p>NAU</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h4>Dr Lauretta Ekunie</h4>
                    <p>CSS</p>
                </div>
            </div>
        </div>
    </section>
</div>