// COLORS
$color-primary: #749f55;
$color-primary-light: #acc599;
$color-primary-dark: #516f3b;

$color-secondary-light: #7e7670;
$color-secondary-dark: #463b33;

$color-tertiary-light: #f4efe2;
$color-tertiary-dark: #c3bfb5;

$color-offset-light: #d87e77;
$color-offset-dark: #c7463c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #555;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.3rem;
