@import "src/styles/styles.scss";

footer {
    margin: 0;
    margin-top: 7rem;
    padding: 0;
    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        margin-bottom: -6rem;
        z-index: 500;
        .cta-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 62rem !important;
            padding: 3rem 4rem;
            background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, 0.8)),
        url('../../../assets/img/bg.png');
    background-size: cover;
    background-position: top;
            border: none;
            border-radius: 15px;
            box-shadow: 0px 12px 43px rgba(0, 0, 0, 0.24);
            @media only screen and (max-width: 600px) { width: 90% !important; flex-direction: column; padding: 2rem 0rem; }
            h3 {
                font-size: 1.4rem;
                font-weight: 900;
                text-transform: capitalize;
                color: #222222;
                width: 60%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @media only screen and (max-width: 600px) { font-size: 1rem; width: 80%; margin-bottom: .7rem; line-height: 30px; }
            }
            .c-link {
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
    .main_footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: #222222;
        color: $color-white;
        margin: 0;
        padding: 4rem;
        padding-top: 12rem;
        width: auto;
        @media only screen and (max-width: 600px) { flex-direction: column; padding: 1rem; padding-top: 8rem; }
        @media only screen and (max-width: 868px) { flex-direction: column; padding: 1rem; padding-top: 8rem; }
        .address {
            width: 50%;
            margin: 0 2rem;
            @media only screen and (max-width: 600px) { width: 100%; margin: 2rem .5rem; }
            @media only screen and (max-width: 868px) { width: 100%; margin: 2rem .5rem; }
            h4 {
                text-transform: capitalize;
                color: #c8ccc5;
                font-size: 1.8rem;
                border-left: 5px solid $color-primary-dark;
                padding-left: 1rem;
            }
            p {
                font-size: 18px;
            }
        }
        .pages {
            width: 25%;
            margin: 0 2rem;
            @media only screen and (max-width: 600px) { width: 100%; margin: 2rem .5rem; }
            @media only screen and (max-width: 868px) { width: 100%; margin: 2rem .5rem; }
            h4 {
                text-transform: capitalize;
                color: #c8ccc5;
                font-size: 1.8rem;
                border-left: 5px solid $color-primary-dark;
                padding-left: 1rem;
            }
            ul {
                text-decoration: underline;
                list-style: none;
                font-size: 18px;
                text-transform: capitalize;
                li {
                    margin-bottom: 15px;
                    a {
                        color: $color-primary;
                    }
                }
            }
        }
        .socials {
            width: 25%;
            margin: 0 2rem;
            @media only screen and (max-width: 600px) { width: 100%; margin: 2rem .5rem; }
            @media only screen and (max-width: 868px) { width: 100%; margin: 2rem .5rem; }
            h4 {
                text-transform: capitalize;
                color: #c8ccc5;
                font-size: 1.8rem;
                border-left: 5px solid $color-primary-dark;
                padding-left: 1rem;
            }
            .social-icons {
                margin-bottom: 2rem;
                img {
                    margin-right: 15px;
                }
            }
            .contacts {
                color: $color-white;
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .secondary-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #121410;
        color: #c9cac8;
        margin: 0;
        padding: 2rem;
        p {
            font-size: 18px;
            font-weight: 900;
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        }
    }
}