<footer>
    <section class="cta">
        <div class="cta-container">
            <h3>NCEHR Is Volunteer Led, And Everyone Is Welcome To Join Us And Start Contributing In Whatever Way They Can.</h3>
            <div class="c-link">
                <a href="#" class="btn btn--primary-light">Join</a>
            </div>
        </div>
    </section>
    <section class="main_footer">
            <div class="address">
                <h4 class="u-margin-bottom-small">Address</h4>
                <p>New Pharmacy Building, Chukwuemeka Odumegwu Ojukwu University, Igbariam, Anambra State, Nigeria</p>
            </div>
            <div class="pages">
                <h4 class="u-margin-bottom-small">Pages</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Members</a></li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="socials">
                <h4 class="u-margin-bottom-small">Socials</h4>
                <div class="social-icons">
                    <img src="assets/img/icon-facebook.svg" alt="">
                    <img src="assets/img/icon-instagram.svg" alt="">
                    <img src="assets/img/icon-twitter.svg" alt="">
                </div>
                <div class="contacts">
                    <p><a href="mailto:enquiry@ncehr.org">enquiry@ncehr.org</a></p>
                    <p><a href="tel:+2348064091061">+234 806 409 1061</a></p>
                </div>
            </div>
    </section>
    <section class="secondary-footer">
            <p>&copy; Copyright 2022 <span>NCEHR</span>. All Rights Reserved</p>
    </section>
</footer>