<div class="contact">
    <section class="contact_header">
        <h1>Contact Us</h1>
    </section>
    <section class="contact_hero">
        <div class="illustration">
            <img src="assets/img/contact_hero.svg" alt="">
        </div>
        <div class="contact_form">
            <h3>Send Us a Mail 👋</h3>
            <form action="">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <textarea placeholder="Type Message"></textarea>
                <button class="btn btn--secondary u-margin-top-small" href="#">Send</button>
            </form>
        </div>
    </section>
</div>
