<div class="landing">
    <section class="hero">
        <div class="content">
            <h1 class="u-margin-bottom-small">Transformative grassroot innovation for health and <span class="deco">climate</span> change</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio deleniti id natus. Reiciendis, nobis consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, explicabo? Optio eaque vero laboriosam quod sunt.</p>
        </div>
        <div class="illustration">
            <img src="assets/img/Hero-Image.svg" alt="">
        </div>
    </section>
    <section class="icon_container">
       <img src="assets/img/Icon/leaf.svg" alt=""> 
    </section>
    <section class="about">
        <div class="dex">
            <div class="show_img">
                <img src="assets/img/group.jpeg" alt="">
            </div>
            <div class="content_about">
                <h2 class="u-margin-bottom-small">About Us</h2>
                <p><span>NCEHR</span> is a Nigerian based inter-disciplinary and inter university collaboration that monitors the link between health and climate change through various indicators that highlight the threats to health, and proffering solutions with community members as co-partners, co-learners, and co-owners of knowledge produced from the group.</p>
            </div>
        </div>
        <a class="btn btn--secondary u-margin-top-medium" href="#">Learn More</a>
    </section>
    <section class="qoutes">
        <div class="qoute__box-1">
            <h4>Goals</h4>
            <div class="qoute__box-content">
                <p>Equitable and Sustainable Development of All</p>
            </div>
        </div>
        <div class="qoute__box-2">
            <h4>Vision</h4>
            <div class="qoute__box-content">
                <p>Advancing equitable ecosocial knowledge and praxis approaches within the context of community-academic partnership</p>
            </div>
        </div>
        <div class="qoute__box-3">
            <h4>Values</h4>
            <div class="qoute__box-content">
                <p>Equity, Inclusion among Diversities, Peace, Integrity/transparency, Humility, Capacity Building, Sustainability, Scholarship</p>
            </div>
        </div>
        <div class="qoute__box-4">
            <h4>Mission</h4>
            <div class="qoute__box-content">
                <p>To advance and leverage on academic research approach and partners for the co-creation, production, and ownership of knowledge to improve societal health and change</p>
            </div>
        </div>
    </section>
    <section class="count">
        <div class="count_container">
            <div class="count_icon blue">
                <img src="assets/img/home.svg" alt="">
            </div>
            <div class="count_text">
                <h4>2+</h4>
                <p>Academic Institutions</p>
            </div>
        </div>
        <div class="count_container">
            <div class="count_icon lime">
                <img src="assets/img/user.svg" alt="">
            </div>
            <div class="count_text">
                <h4>32+</h4>
                <p>Individual Members</p>
            </div>
        </div>
        <div class="count_container">
            <div class="count_icon yellow">
                <img src="assets/img/power.svg" alt="">
            </div>
            <div class="count_text">
                <h4>6+</h4>
                <p>Steering Committees</p>
            </div>
        </div>
    </section>
    <section class="publication">
        <div class="publication_header">
            <h2>Recent Publications</h2>
        </div>
        <div class="publication_content">
            <div class="content-box">
                <div class="img-box">
                    <img src="assets/img/bitmap.png" alt=""> 
                </div>
                <div class="tag-box"><p>article</p></div>
                <div class="text-box">
                    <h3>The Journey of a thousand mile</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, numquam. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="anchor-box">
                    <div class="link">
                        <a href="#">Read more</a>
                    <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5969 1.40317L28.2665 8.07339C28.354 8.16081 28.4032 8.27945 28.4032 8.40317C28.4032 8.52689 28.354 8.64553 28.2665 8.73295L21.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.634928" d="M11.5969 1.40317L18.2665 8.07339C18.354 8.16081 18.4032 8.27945 18.4032 8.40317C18.4032 8.52689 18.354 8.64553 18.2665 8.73295L11.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.246071" d="M1.59686 1.40317L8.26646 8.07339C8.35401 8.16081 8.4032 8.27945 8.4032 8.40317C8.4032 8.52689 8.35401 8.64553 8.26646 8.73295L1.59686 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="img-box">
                    <img src="assets/img/bitmap.png" alt="">
                </div>
                <div class="tag-box"><p>event</p></div>
                <div class="text-box">
                    <h3>The Journey of a thousand mile</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, numquam. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="anchor-box">
                    <div class="link">
                        <a href="#">Read more</a>
                    <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5969 1.40317L28.2665 8.07339C28.354 8.16081 28.4032 8.27945 28.4032 8.40317C28.4032 8.52689 28.354 8.64553 28.2665 8.73295L21.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.634928" d="M11.5969 1.40317L18.2665 8.07339C18.354 8.16081 18.4032 8.27945 18.4032 8.40317C18.4032 8.52689 18.354 8.64553 18.2665 8.73295L11.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.246071" d="M1.59686 1.40317L8.26646 8.07339C8.35401 8.16081 8.4032 8.27945 8.4032 8.40317C8.4032 8.52689 8.35401 8.64553 8.26646 8.73295L1.59686 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="img-box">
                    <img src="assets/img/bitmap.png" alt="">
                </div>
                <div class="tag-box"><p>program</p></div>
                <div class="text-box">
                    <h3>The Journey of a thousand mile</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, numquam. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="anchor-box">
                    <div class="link">
                        <a href="#">Read more</a>
                    <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5969 1.40317L28.2665 8.07339C28.354 8.16081 28.4032 8.27945 28.4032 8.40317C28.4032 8.52689 28.354 8.64553 28.2665 8.73295L21.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.634928" d="M11.5969 1.40317L18.2665 8.07339C18.354 8.16081 18.4032 8.27945 18.4032 8.40317C18.4032 8.52689 18.354 8.64553 18.2665 8.73295L11.5969 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.246071" d="M1.59686 1.40317L8.26646 8.07339C8.35401 8.16081 8.4032 8.27945 8.4032 8.40317C8.4032 8.52689 8.35401 8.64553 8.26646 8.73295L1.59686 15.4032" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="see_more">
            <a href="#">View All &rarr;</a>
        </div>
    </section>
</div>